body {
}

.cardSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}


.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 70vh;
    width: 400px;
    transition: linear 0.2s;
}

#cardArticulo {
    background-image: url('/images/Categorias.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#cardCostos {
    background-image: url('/images/Costos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardBody:hover {
    transform: scale(1.03);
    transition: linear 0.2s;
}

.cardTitle {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    font-weight: 900;
}
.cardDescription {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 0 15px;
}

