body {
}

#titulodiv {
    position: relative;
    background-image: url('/images/PatitosIndexImagen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: stretch;
}

#tituloEnca {
    background-color: #fff7e0;
    padding: 20px;
}

.cardSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#h1titulodiv {
    padding-top: 10px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 250px;
    width: 400px;
    transition: linear 0.2s;
}

#cardArticulo {
    background-image: url('/images/PatitoCargandoOpacidad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#cardCostos {
    background-image: url('/images/PatitoPensanteOpaco.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardBody:hover {
    transform: scale(1.03);
    transition: linear 0.2s;
}

.cardTitle {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.cardDescription {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 15px;
}

.wiggle {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }
}