@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">🦆 Three Yellow Ducks</h1>
    <p>Helping you with your shopping amnesia!!!.</p>
</div>
<section>
    <div>
        <h3>📦 Cargá tus productos</h3>
        <p>Agregá artículos con precio, cantidad y categoría para tener todo registrado.</p>
    </div>
    <div>
        <h3>💰 Calculá tus gastos</h3>
        <p>Visualizá subtotales y totales estimados automáticamente.</p>
    </div>
</section>
